<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <p class="text-info text-xl-left">
            This is a project done for the Advanced Software Engineering Class.
            This application can register Students and Instructors, allows them
            to register for a class. It also allows them to drop a course.
            Instructors can manage course by posting assignments and students
            can view the assignments.There will be more functionalities to be added
            in the future.
            <div>
                <span class="text-success glyphicon glyphicon-copyright-mark">Sagar Shah</span>
            </div>
        </p>
    </div>
</div>